@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Archivo+Black&display=swap');

.atmMachineTitleStyles{
    font-family: 'Archivo Black', sans-serif;
}

.atmMachineFont{
    font-family:'Archivo', sans-serif;
    font-size:large;
}

.clickArea{
    cursor: pointer;
}
.screenColor{
    background-color:#d6e6f6;
    /* background-color:antiquewhite; */
    min-height:270px !important;
}